.App {
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.card {
  width: 18vh;
  height: 18vh;
  border: 1px blue solid;
  cursor: pointer;
}
